<form method="post" action="{{ path('superamas_galaxies_delete', {'id': superamas_galaxy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ superamas_galaxy.id) }}">
    <button class="btn">Delete</button>
</form>
