{% extends 'base.html.twig' %}

{% block title %}Edit Satellite{% endblock %}

{% block body %}
    <h1>Edit Satellite</h1>

    {{ include('satellite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('satellite_index') }}">back to list</a>

    {{ include('satellite/_delete_form.html.twig') }}
{% endblock %}
